<!DOCTYPE html>
<!--[if IE 8]> <html lang="en"  class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="guirendcos">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>guirendcos | Login Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.useso.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="/static/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="/static/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/static/css/animate.min.css" rel="stylesheet" />
	 <link href="/static/css/style.min.css" rel="stylesheet" />
	 <link href="/static/css/style-responsive.min.css" rel="stylesheet" />
	 <link href="/static/css/theme/default.css" rel="stylesheet" />
	 <link href="/static/css/theme/red.css" rel="stylesheet" />
	 <link href="/static/css/theme/blue.css " rel="stylesheet" />
	 <link href="/static/css/theme/purple.css" rel="stylesheet" />
	 <link href="/static/css/theme/orange.css" rel="stylesheet" />
	 <link href="/static/css/theme/black.css" rel="stylesheet" />
	 <link href="/static/css/theme/default.css" rel="stylesheet" />
	<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/static/css/animate.min.css" rel="stylesheet" />
	<link href="/static/css/style.min.css" rel="stylesheet" />
	<link href="/static/css/style-responsive.min.css" rel="stylesheet" />
	<link href="/static/css/theme/default.css" rel="stylesheet" id="theme" />
    
     	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/static/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="/static/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="/static/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="/static/crossbrowserjs/html5shiv.js"></script>
		<script src="/static/crossbrowserjs/respond.min.js"></script>
		<script src="/static/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="/static/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/plugins/jquery-cookie/jquery.cookie.js"></script>
	<script src="/static/js/login-v2.demo.min.js"></script>
	<script src="/static/js/apps.min.js"></script>
	
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			LoginV2.init();
		});
	</script>
	<script src="/static/js/angular.min.js"></script>
    <script src="/static/js/testteam.js"></script>

    {% block header %}{% endblock %}
</head>
<body style="height:90%; background-color: #F5F5F5;">
 {% block content %}{% endblock %}

       
</body>
</html>

 