{% extends 'BaseLayout.html'%}
{% block header %}
<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .input-group {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .input-button {
    padding-top: 10px;
    padding-bottom: 10px;
    }

    .form-signin {
        width: 350px;
        padding: 15px 30px;
        margin: 50px auto;
        background-color: #F0F0F0;
        box-shadow: black 1px 1px 20px;
    }
		
		.form-signin-heading {
            margin-bottom: 20px;
        }
		
        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
</style>
{% endblock %}
{% block content %}
<form class="form-signin" role="form" name="loginForm" ng-controller="LoginCtrl" novalidate>
    <h2 class="form-signin-heading text-center">testTeam</h2><hr style="border-top: 1px solid #DFDFDF;">
    <div class="input-group" ng-class="{ 'has-error' : (loginForm.Email.$dirty&&loginForm.Password.$dirty&&loginForm.Email.$invalid) }">
        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
        <input type="email" class="form-control default-focus" placeholder="电子邮件" ng-model="User.Email" name="Email" required />
    </div>
    <div class="input-group" ng-class="{ 'has-error' : loginForm.Password.$invalid && loginForm.Password.$dirty }">
        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
        <input type="password" class="form-control" placeholder="密码" ng-model="User.Password" name="Password" required />
    </div>
    <div class="input-button">
        <button class="btn btn-lg btn-primary" id="btnLogin" data-loading-text="正在验证" ng-click="login()" ng-disabled="loginForm.$invalid" type="button" style="width:142px"><i class="fa fa-sign-in fa-fw"></i>登陆</button>
        <a href="/Register" class="btn btn-lg btn-primary" role="button" style="width:142px"><i class="fa fa-user fa-fw"></i>注册</a>
    </div>
    <div class="notice notice-info" ng-show="(loginForm.Email.$dirty&&loginForm.Password.$dirty&&loginForm.$invalid)||!isMatch||isDisabled">
        <div ng-show="loginForm.Email.$dirty&&loginForm.Email.$error.required" class="text-danger">请输入电子邮件</div>
        <div ng-show="loginForm.Email.$dirty&&loginForm.Email.$error.email" class="text-danger">电子邮件格式不合法</div>
        <div ng-show="loginForm.Password.$dirty&&loginForm.Password.$error.required" class="text-danger">请输入密码</div>
        <div ng-show="loginForm.Email.$dirty&&loginForm.Password.$dirty&&!isMatch" class="text-danger">用户名密码不正确</div>
        <div ng-show="loginForm.Email.$dirty&&loginForm.Password.$dirty&&isDisabled" class="text-danger">用户已被禁用,请联系管理员</div>
    </div>
</form>
{% endblock %}