
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="javascript:;">主页</a></li>
    <li><a href="javascript:;">发布</a></li>
    <li class="active">状态</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">状态</h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row" ng-controller="appStatus">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">发布状态</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <h4>进度</h4>
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 80%">80%</div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <a href="javascript:;" class="btn btn-success btn-block">成功发布完成 点击连接登录页面地址</a>
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->